
obj/

eduke32
mapster32
voidsw
voidsw-editor
kenbuild
kenbuild-editor
apps/
*.exe
/*.dll
*.dylib
*.so
*.elf
*.dol
*.x86
*.x64
*.ppc
*.app

*.log
*.cache
*.cfg
textures

*.manifest
/*.map
/platform/Windows/*.map
*.pdb
.vs/
*.VC.db
*.VC.opendb
*.sym
/*.con
/platform/Windows/*.con
*.memmap
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.psess
*.vsp

xcuserdata/
project.xcworkspace/
*.dSYM/

.DS_Store
eduke32.data
eduke32.html
eduke32.js
eduke32.wasm
eduke32.worker.js
mapster32.data
mapster32.html
mapster32.js
mapster32.wasm
mapster32.worker.js
